body{
  background-color: white;
}

.thumbnail>img{
  width:85%;
  height:50%;
  
}

.thumbnail
{
  height: 60%;
  width: 32%;
  margin: 0.5%;
}

.t01{
  float:left;
}

.t02{
  
}

.h01{
  text-align: center;
  
}