

<html>
 <head>
   <title>i m title</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   
  </head>
 <body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
              <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-example" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="/blogs"><span class="glyphicon glyphicon-comment"></span>  RBlog</a>
              </div>
                  <div class="collapse navbar-collapse" id="navbar-collapse-example"> 
                     <ul class="nav navbar-nav">
                        <li><a href="/blogs">Home</a></li>
                        <li><a href="/blogs/new">New Post</a></li>
                      </ul>
                 
                      <ul class="nav navbar-nav navbar-right">
                          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LOG OUT</a></li>

                      </ul>
                  </div>
                 
        </div>
  
    </nav> 

