<html>
  <head>
      <title>register page</title>
      <style>
          body{
            background-image: url("https://cdn.pixabay.com/photo/2017/03/02/08/58/background-texture-2110724__340.jpg");
          }
      </style>
  </head>
<body>

  <div class="container">
    <h1>Welcome to RBlog</h1>
    <p>For visit the site you have to register first</p> 




      <form action="/" method="POST">
       <label>CREATE YOUR Username</label>
       <div class="form-group">
           <input class="form-control" type="text" name="username">   
       </div>
       <br>
       <label>CREATE YOUR PASSWORD</label>
        <div class="form-group">
           <input class="form-control" type="password" name="password">   
        </div>
        <br>
        <div>
            <button class = "btn btn-lg btn-primary">Register</button> 
        </div>
    </form>


<h1>IF ALREADY HAS A ACCOUNT THE CLICK ON LINK BELOW</h1>
<a href="/login">FOR SIGN IN</a>
</div>

</body>
</html>